{% extends 'feedaggregator/partials/base.html' %}
{% block title %}Add Feed{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title='Add Feed' %}
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
  <div class="card-body">
    <div class="card-title"><h5>Enter Feed URL</h5></div>
      <div class="card-text">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary" type="submit">Add Feed</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}