{% extends 'feedaggregator/partials/base.html' %}
{% load feedaggregator_extras %}
{% block title %}Discover Feeds{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='discover' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title='Discover' %}
{% endblock %}
{% block content %}
<!-- Page Heading -->
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            <div class="mb-0 font-weight-bold text-gray-800">
                                                
                                                {% if feeds %}
                                                <ul class="list-group list-group-flush">
                                                    {% for feed in feeds %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'feedaggregator:entry_list' feed_pk=feed.pk %}">{{ feed }}</a>
                                                    {% if feed in user_subscriptions %}
                                                        <a href="{% url 'feedaggregator:unsubscribe_feed' feed_pk=feed.pk %}" class="badge badge-danger badge-pill subscribe_btn">-{{ feed|feedToSubId:user.id }}</a> 
                                                    {% else %}
                                                        <a href="{% url 'feedaggregator:subscribe_feed' feed_pk=feed.pk %}" class="badge badge-success badge-pill">+</a>
                                                    {% endif %}
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% include 'feedaggregator/partials/pagination.html' %}
                                                {% else %}
                                                No feeds yet :(
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        var bookmark_id = '{{bookmark_id}}';

                        function subscribe_feed(e) {
                            var http = new XMLHttpRequest();
                            // FIXME figure out how to do this with URL tag
                            var url = '/api/subscriptions/';
                            var method = "POST";
                            
                            http.open(method, url, true);

                            http.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                            http.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                            
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 201) {
                                    e.target.classList.remove('badge-success');
                                    e.target.classList.add('badge-danger');
                                    e.target.innerHTML = "-";
                                    bookmark_id = JSON.parse(http.responseText)['id'];
                                }
                            }

                            http.send(
                                JSON.stringify({
                                    entry: {{entry.id}},
                                    subscriber: {{ request.user.id }}
                                })
                            );

                        }
                        function unsubscribe_feed(e) {
                            var http = new XMLHttpRequest();
                            // FIXME figure out how to do this with URL tag
                            var url = '/api/bookmarks/' + bookmark_id + '/';
                            var method = "DELETE";
                            
                            http.open(method, url, true);

                            http.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                            http.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                            
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 204) {
                                    e.target.classList.remove('badge-danger');
                                    e.target.classList.add('badge-success');
                                    e.target.innerHTML = "+";
                                }
                            }

                            http.send(
                                JSON.stringify({
                                    entry: {{entry.id}},
                                    subscriber: {{ request.user.id }}
                                })
                            )
                        }

                        document.getElementById('bookmark_btn').addEventListener('click', e => {
                            if (e.target.innerHTML == "+") {
                                bookmark_entry(e);
                            } else {
                                unbookmark_entry(e);
                            }
                        });
                    </script>
{% endblock %}