{% extends 'feedaggregator/partials/base2.html' %}
{% block title %}Discover Feeds{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='discover' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title='Discover' %}
{% endblock %}
{% block content %}
<!-- Page Heading -->
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h7 mb-0 font-weight-bold text-gray-800">
                                                
                                                {% if feeds %}
                                                <ul class="list-group-flush">
                                                    {% for feed in feeds %}
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'feedaggregator:entry_list' feed_pk=feed.pk %}">{{ feed }}</a>
                                                    {% if feed in user_subscriptions %}
                                                        <a href="{% url 'feedaggregator:unsubscribe_feed' feed_pk=feed.pk %}" class="badge badge-danger badge-pill">-</a> 
                                                    {% else %}
                                                        <a href="{% url 'feedaggregator:subscribe_feed' feed_pk=feed.pk %}" class="badge badge-success badge-pill">+</a>
                                                    {% endif %}
                                                    </span>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% include 'feedaggregator/partials/pagination.html' %}
                                                {% else %}
                                                No feeds yet :(
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}