{% extends 'feedaggregator/base.html' %}
{% block title %}Discover Feeds{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Discover</h1>
  </div>
</div>
{% if feeds%}
<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'feedaggregator:view_feeds' %}">Subscriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'feedaggregator:discover_feeds' %}">Discover</a>
      </li>
  </div>
</div>
<div class="row">
<div class="col">
<ul class="list-group">
  {% for feed in feeds %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ feed }} 
    {% if feed in user_subscriptions %}
      <a href="{% url 'feedaggregator:unsubscribe_feed' feed_pk=feed.pk %}" class="badge badge-danger badge-pill">-</a> 
    {% else %}
      <a href="{% url 'feedaggregator:subscribe_feed' feed_pk=feed.pk %}" class="badge badge-success badge-pill">+</a>
    {% endif %}
    </span>
  </li>
  {% endfor %}
</ul>
</div>
</div>
<div class="row justify-content-center">
<div class="col">
<nav aria-label="discover navigation">
  <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
         <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
      {% endif %}
      {% for page_num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_obj.number == page_num %}active{% endif %}"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
      {% endif %}
    </ul>
</nav>
</div>
</div>
{% else %}
<h1>No feeds to discover yet!</h1>
{% endif %}
{% endblock %}