{% extends 'feedaggregator/partials/base.html' %}
{% block title %}{{ entry.feed.title }} - {{ entry.title }}{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='discover' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title=entry.feed.title %}
{% endblock %}
{% block content %}
<!-- Page Heading -->

                    <!-- Content Row -->
                    <div class="row h3 ml-1 mb-2">
                        {% if entry.title %}
                            {{entry.title}}
                        {% endif %}
                    </div>
                    <div class="row ml-1 mb-2 text-muted font-italic">
                        {% if entry.author %}
                            By {{entry.author}} 
                        {% endif %}
                        <button type="button" class="btn btn-primary py-0 px-2 ml-1"><i class="fas fa-bookmark"></i></button>
                    </div>
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="mb-0 text-gray-800">
                                                <!-- Move into external CSS file-->
                                                <style>
                                                    blockquote {
                                                        font-style: italic;
                                                        border-left: 5px solid lightblue;
                                                        padding-left: 15px;
                                                    }
                                                </style>
                                                {{ entry.body|safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}