{% extends 'feedaggregator/partials/base2.html' %}
{% block title %}{{ feed_title }}{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='discover' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title=feed_title %}
{% endblock %}
{% block content %}
<!-- Page Heading -->

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h7 mb-0 font-weight-bold text-gray-800">
                                                
                                                {% if entries %}
                                                <ul>
                                                    {% for entry in entries %}
                                                    <li>
                                                        <a href="{% url 'feedaggregator:entry_detail' pk=entry.pk %}">{{ entry.title }}</a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                {% else %}
                                                <!-- need to get rid of weird spacing -->
                                                There are no entries for this feed :(
                                                {% endif %}
                                                {% include 'feedaggregator/partials/pagination.html' %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}