{% extends 'feedaggregator/partials/base.html' %}
{% block title %}{{ entry.feed.title }} - {{ entry.title }}{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='discover' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title=entry.feed.title %}
{% endblock %}
{% block content %}
<!-- Page Heading -->
                    <script>
                        
                    </script>
                    <!-- Content Row -->
                    <div class="row h3 ml-1 mb-2">
                        {% if entry.title %}
                            {{entry.title}}
                        {% endif %}
                    </div>
                    <div class="row ml-1 mb-2 ">
                        <div class="text-muted font-italic">
                        {% if entry.author %}
                            By {{entry.author}} 
                        {% endif %}
                        </div>
                        <span class="badge {% if user_did_bookmark %}badge-danger{% else %}badge-success{% endif %} badge-pill" id="bookmark_btn">{% if user_did_bookmark %}-{% else %}+{% endif %}</span>
                    </div>
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="mb-0 text-gray-800">
                                                <!-- Move into external CSS file-->
                                                <style>
                                                    blockquote {
                                                        font-style: italic;
                                                        border-left: 5px solid lightblue;
                                                        padding-left: 15px;
                                                    }
                                                </style>
                                                {{ entry.body|safe }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        var bookmark_id = '{{bookmark_id}}';

                        function bookmark_entry(e) {
                            var http = new XMLHttpRequest();
                            // FIXME figure out how to do this with URL tag
                            var url = '/api/bookmarks/';
                            var method = "POST";
                            
                            http.open(method, url, true);

                            http.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                            http.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                            
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 201) {
                                    e.target.classList.remove('badge-success');
                                    e.target.classList.add('badge-danger');
                                    e.target.innerHTML = "-";
                                    bookmark_id = JSON.parse(http.responseText)['id'];
                                }
                            }

                            http.send(
                                JSON.stringify({
                                    entry: {{entry.id}},
                                    subscriber: {{ request.user.id }}
                                })
                            );

                        }
                        function unbookmark_entry(e) {
                            var http = new XMLHttpRequest();
                            // FIXME figure out how to do this with URL tag
                            var url = '/api/bookmarks/' + bookmark_id + '/';
                            var method = "DELETE";
                            
                            http.open(method, url, true);

                            http.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                            http.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                            
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 204) {
                                    e.target.classList.remove('badge-danger');
                                    e.target.classList.add('badge-success');
                                    e.target.innerHTML = "+";
                                }
                            }

                            http.send(
                                JSON.stringify({
                                    entry: {{entry.id}},
                                    subscriber: {{ request.user.id }}
                                })
                            )
                        }

                        document.getElementById('bookmark_btn').addEventListener('click', e => {
                            if (e.target.innerHTML == "+") {
                                bookmark_entry(e);
                            } else {
                                unbookmark_entry(e);
                            }
                        });
                    </script>
{% endblock %}