{% extends 'feedaggregator/partials/base.html' %}
{% block title %} 
Entry List
{% endblock %}
{% block content %}
{% include 'feedaggregator/partials/navbar.html' with selected='' %}
<div class="row">
  <div class="col">
    <h1>
    {{ feed_title }}
    </h1>
    {% if entries %}
    <ul>
    {% for entry in entries %}
    <li>
      <a href="{% url 'feedaggregator:entry_detail' pk=entry.pk %}">{{ entry.title }}</a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <!-- need to get rid of weird spacing -->
    There are no entries for this feed :(
    {% endif %}
  </div>
</div>
{% include 'feedaggregator/partials/pagination.html' %}
{% endblock %}