<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'feedaggregator:view_feeds' %}">Subscriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'feedaggregator:discover_feeds' %}">Discover</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i>{{ user.first_name }}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
        </div>
      </li>
  </div>
</div>