{% extends 'feedaggregator/partials/base.html' %}
{% block title %}Discover Feeds{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='bookmarks' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title='Bookmarks' %}
{% endblock %}
{% block content %}
<!-- Page Heading -->
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col">
                                            <div class="h7 mb-0 font-weight-bold text-gray-800">
                                               
                                                {% if saved_entries %}
                                                <ul class="list-group list-group-flush">
                                                {% for bookmark in saved_entries %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <a href="{% url 'feedaggregator:entry_detail' pk=bookmark.entry.pk %}">{{ bookmark.entry.title }}</a><span class="badge badge-danger badge-pill unbookmark_btn" id="{{ bookmark.pk }}|{{bookmark.entry.pk}}">-</span>
                                                </li>
                                                {% endfor %}
                                                </ul>
                                                {% else %}
                                                <!-- need to get rid of weird spacing -->
                                                You have no saved bookmarks!
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
<script>

                        function unbookmark_entry(e) {
                            var http = new XMLHttpRequest();
                            var triggerElement = e.target;
                            var [bookmark_id, entry_id] = triggerElement.id.split("|");
                            // FIXME figure out how to do this with URL tag
                            var url = '/api/bookmarks/' + bookmark_id + '/';
                            var method = "DELETE";
                            
                            http.open(method, url, true);

                            http.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                            http.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                            
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 204) {
                                   console.log(triggerElement.parentElement.parentElement.children.length - 1);
                                   if (triggerElement.parentElement.parentElement.children.length - 1 == 0) {
                                    triggerElement.parentElement.parentElement.innerHTML = "You have no bookmarks!";
                                   } else {
                                    triggerElement.parentElement.parentElement.removeChild(triggerElement.parentElement); 
                                   }
                                }
                            }

                            http.send(
                                JSON.stringify({
                                    entry: entry_id,
                                    subscriber: {{ request.user.id }}
                                })
                            )
                        }

                        document.querySelectorAll('.unbookmark_btn').forEach((btn) => {
                                btn.addEventListener('click', e => {
                                    unbookmark_entry(e);
                                });
                            }   
                        );
                    </script>
{% endblock %}