{% extends 'feedaggregator/partials/base.html' %}
{% block title %} 
Bookmark List
{% endblock %}
{% block content %}
{% include 'feedaggregator/partials/navbar.html' with selected='' %}
<div class="row">
  <div class="col">
<h1>
    Bookmarks
    </h1>
  </div>
    {% if saved_entries %}
    <ul>
    {% for bookmark in saved_entries %}
    <li>
      <a href="{% url 'feedaggregator:entry_detail' pk=bookmark.entry.pk %}">{{ bookmark.entry.title }}</a>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <!-- need to get rid of weird spacing -->
    You have no saved bookmarks!
    {% endif %}
  </div>
</div>
{% include 'feedaggregator/partials/pagination.html' %}
{% endblock %}