{% extends 'feedaggregator/partials/base.html' %}
{% block title %}Discover Feeds{% endblock %}
{% block sidebar %}
{% include 'feedaggregator/partials/sidebar.html' with selected='view' %}
{% endblock %}
{% block topbar %}
{% include 'feedaggregator/partials/topbar.html' with topbar_title='Subscriptions' %}
{% endblock %}
{% block content %}
<!-- Page Heading -->
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-12 col-md-12 mb-4">
                            <div class="card shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="mb-0 font-weight-bold text-gray-800">
                                                
                                                {% if subscriptions %}
                                                <ul class="list-group list-group-flush">
                                                {% for subscription in subscriptions %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <a href="{% url 'feedaggregator:entry_list' feed_pk=subscription.feed.pk %}">{{ subscription }}</a> <a href="{% url 'feedaggregator:unsubscribe_feed' feed_pk=subscription.feed.pk %}" class="badge badge-danger badge-pill">-</a>
                                                </li>
                                                {% endfor %}
                                                </ul>
                                                {% else %}
                                                You have no subscriptions. <a href="{% url 'feedaggregator:discover_feeds' %}">Discover some!</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>

                        function subscribe_feed(e) {
                            var http = new XMLHttpRequest();

                            // FIXME figure out how to do this with URL tag
                            var url = '/api/subscriptions/';
                            var method = "POST";
                            
                            http.open(method, url, true);

                            http.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                            http.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                            
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 201) {
                                    e.target.classList.remove('badge-success');
                                    e.target.classList.add('badge-danger');
                                    e.target.innerHTML = "-";
                                    console.log(http.responseText);
                                    var newEId = JSON.parse(http.responseText)['id'];
                                    e.target.id = newEId;
                                }
                            }

                            http.send(
                                JSON.stringify({
                                    feed: e.target.id,
                                    user: {{ request.user.id }}
                                })
                            );

                        }
                        function unsubscribe_feed(e) {
                            var http = new XMLHttpRequest();
                            // FIXME figure out how to do this with URL tag
                            var url = '/api/subscriptions/' + e.target.id + '/';
                            var method = "DELETE";
                            
                            http.open(method, url, true);

                            http.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                            http.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                            
                            http.onreadystatechange = function () {
                                if (http.readyState == 4 && http.status == 201) {
                                    // FIXME is this right httpstatus given it's a delete?
                                    // Generally it's 204, but this has response content
                                    e.target.classList.remove('badge-danger');
                                    e.target.classList.add('badge-success');
                                    e.target.innerHTML = "+";
                                    // FIXME this is so bad. Need to figure out what's going on here
                                    var fid = JSON.parse(JSON.parse(http.responseText));
                                    e.target.id = fid['feed'];
                                }
                            }

                            http.send(
                                JSON.stringify({
                                    subscription: e.target.id,
                                })
                            )
                        }
                        document.querySelectorAll('.subscribe_btn').forEach((btn) => {
                                btn.addEventListener('click', e => {
                                var buttonType = e.target.innerHTML;
                                if (buttonType === "+") {
                                    subscribe_feed(e);
                                } else {
                                    unsubscribe_feed(e);
                                }
                                })
                            }   
                        );
                    </script>
{% endblock %}