{% extends 'feedaggregator/base.html' %}
{% block title %}View Subscriptions{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Subscriptions</h1>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'feedaggregator:view_feeds' %}">Subscriptions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'feedaggregator:discover_feeds' %}">Discover</a>
      </li>
  </div>
</div>
<div class="row">
  <div class="col">

{% if subscriptions %}
<ul class="list-group">
  {% for subscription in subscriptions %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a href="{% url 'feedaggregator:entry_list' feed_pk=subscription.feed.pk %}">{{ subscription }}</a> <a href="{% url 'feedaggregator:unsubscribe_feed' feed_pk=subscription.feed.pk %}" class="badge badge-danger badge-pill">-</a>
  </li>
  {% endfor %}
</ul>
{% else %}
You have no subscriptions. <a href="{% url 'feedaggregator:discover_feeds' %}">Discover some!</a>
{% endif %}
{% endblock %}
  </div>
</div>